
.river-page {
    justify-content: space-between;
}

    .river-page::after, .river-page::before {
        z-index: -1;
    }


/* =========================
   MOBILE
========================= */

@media (max-width: 500px) {
    :root .river-page {
        padding: 1.5em 0;
    }

    :root #GY, :root #rank {
        display: none;
    }

    :root #chessContainer {
        width: 100%;
    }

    :root #chessElement {
        margin: 0;
    }

    :root .square, :root .gameObject {
        width: 12vw;
        height: 12vw;
    }

    :root .pieceImg {
        max-width: 10vw;
    }

    #message {
        padding-left: 1em;
    }

    #chessContainer {
        margin-top: 1em
    }
}
