
/* =========================================================
   Mobile Play Page
   ========================================================= */

/*@media (max-width: 768px) {*/
@media (max-width: 700px) {

    /* Prevent horizontal scrolling caused by the game UI */
    html,
    body,
    .river-page {
        width: 100%;
        max-width: 100%;
    }

    :root .river-page {
        padding: 10px 0;
    }

    :root #chessContainer {
        margin-top: 0;
    }

    :root #secondaryMessage {
        min-height: 2em;
    }

    :root #GY {
        display: none;
    }

    :root #chessContainer {
        width: 100%;
    }

    :root #chessElement {
        margin: 0;
    }

    :root .square, :root .gameObject {
        width: 12.5vw;
        height: 12.5vw;
    }

        :root .gameObject.squareHighlight {
            width: 12.2vw;
            height: 12.2vw;
        }

    :root .pieceImg {
        max-width: 9.5vw;
    }

    #chessContainer {
        margin-top: 1em
    }

    :root #message, :root #message.spaceBelow {
        font-size: 1.5em;
        padding-left: 24px;
        margin-bottom: 8px;
    }

    :root #rank {
        left: 1vw;
        top: -4.4vw;
    }

    :root #file {
        left: 4.8vw;
    }


    
    /* ---------------------------------------------------------
       Stones
       --------------------------------------------------------- */

    :root .stone-wrapper, :root .stone-wrapper::before {
        width: 60px;
        height: 60px;
    }
        :root .stone-wrapper img {
            width: 40px;
            height: 40px;
        }

    :root .stone-points {
        top: -12px;
    }

    :root .stone-wrapper.stone-flipped .stone-points {
        bottom: -12px;
    }

    :root .stone-counter {
        transform: scale(.75);
    }

}
